@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
    display: grid;
    grid-template-rows:  100vh 5vh minmax(95vh, auto) minmax(95vh, auto) 85vh 10vh;
    grid-template-columns: 100%;
    grid-template-areas:
        "hero hero"
        "header header"
        "about skills"
        "projects projects"
        "contact contact"
        "footer footer";
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
}

ul li {
    display: inline;
}

ul li a {
    color: #fff;
    padding: 15px
}

ul li a:hover {
    text-decoration: none;
    color: tomato;
}

header {
    grid-area: header;
    background-color: #41c7c7;
    display: grid;
    align-content: center;
    font-weight: 700;
}

#hero {
    grid-area: hero;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "hero-title";
    text-align: center;
    align-content: center;

}

#hero-title {
    grid-area: hero-title;
    display: grid;
    position: absolute;
    margin: auto;
    width: 25em;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 100;
}

.title-text {
    display: inline;
    color: white;
}

.fas {
    color: #41c7c7;
    vertical-align: middle;
}

#about {
    grid-area: about;
    display: grid;
    grid-template-rows:  10em auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "about-title about-title"
        "about-content about-skills";
    background-color: #cecece;
    padding: 0 5rem 5rem 5rem;
}

#about-title {
    grid-area: about-title;
    text-align: center;
    margin: auto;
}

#about-title h1 {
    font-weight: 700;
    border-bottom: 5px solid black;
}

#me {
    background-color: #1A242E;
    border-radius: 30%;
    min-width: 320px;
    min-height: 320px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px 8px #888888;
    margin-bottom: 3em;
    /* max-height: 50px; */
}

#about-content {
    grid-area: about-content;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

#about-content p {
    text-align: center;
    padding: 1em;
    width: 20em;
    margin: auto;
}

#about-skills {
    grid-area: about-skills;
    align-content: center;
    text-align: center;
    width: 20em;
    margin: auto;
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-rows:  10em auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "projects-title projects-title"
        "projects-content projects-content";
}

#projects-title {
    grid-area: projects-title;
}

#projects-content {
    grid-area: projects-content;
}

#contact {
    grid-area: contact;
    background-color: #cecece;
}

footer {
    grid-area: footer;
    background-color: #f7f7f7;
}

/* Particles */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1A242E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Sticky Header */
.sticky {
    height: 5vh;
    position: sticky;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 50px;
}

.progress {
    background-color: #1A242E;
    border-radius: 1.25rem;
    overflow: hidden;
    height: 2em;

}

.progress-bar {
    background-color: #41c7c7;
    border-style: solid 1px black;
    border-radius: 1.25rem;

}

.bar {
    margin-top: 1em;
}