
.json-wrapper {
    background-color: #3b3b3b;

}

.json {
    font-family: 'Roboto Mono', monospace;
    font-size: x-small;
    font-weight: bold;
    color: #db6439;
    line-height: 2rem;
    margin: 0;
}