@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
/*
ul {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 3rem;

}

li {
  display: inline;
  text-decoration: none;
  padding: 10px 40px;
}

li > a {
  color: #f5f5f6;
  font-size: x-large;
} */


img {
  border-radius: 50%;
  background: black;
  overflow: hidden;
  background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(225, 226, 225, 0.8), rgba(1, 37, 42, 0.8)), url("https://as1.ftcdn.net/jppg/02/10/21/58/500_F_210215884_eiPZhN1xUM9HaIm7Ak1j1sQqPLrvUaiy.jpg");
  background: linear-gradient(rgba(225, 226, 225, 0.8), rgba(1, 37, 42, 0.8)), url("https://as1.ftcdn.net/jpg/02/10/21/58/500_F_210215884_eiPZhN1xUM9HaIm7Ak1j1sQqPLrvUaiy.jpg"); /* The least supported option. */

}

.grid-container {
  display: grid;
  grid-template-columns: 3.6fr;
  grid-template-rows: 2vh 18vh minmax(70vh, auto) 10vh;
  grid-template-areas: "Border" "Header" "Main" "Footer";
}

.Border {
  grid-area: Border;
  background-color: #0097a7;
  color: #f5f5f6;
}
.Header {
  grid-area: Header;
  background-color: #00acc1;
  color: #f5f5f6;
  /* position: relative; */
}

.mynav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 9vh;
}

.mynav li:not(:last-child) {
  margin-right: 20px;
}

.mynav p {
  display: block;
  font-size: 20px;
  color: #e1e2e1;
  text-decoration: none;
  padding: 7px 15px;
}

.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}

.mynav p,
.target {
  transition: all .35s ease-in-out;
}


.Main {
  grid-area: Main;
  background-color: #e1e2e1;
  color: #607d8b;
}

.Footer {
  grid-area: Footer;
  background-color: #f5f5f6;
  color: #607d8b;
}
